<p id="notice"><%= notice %></p>

<h1>Listing Admin Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Address</th>
      <th>Country</th>
      <th>Bussiness type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_companies.each do |admin_company| %>
      <tr>
        <td><%= admin_company.name %></td>
        <td><%= admin_company.description %></td>
        <td><%= admin_company.website %></td>
        <td><%= admin_company.address %></td>
        <td><%= admin_company.country %></td>
        <td><%= admin_company.bussiness_type %></td>
        <td><%= link_to 'Show', admin_company %></td>
        <td><%= link_to 'Edit', edit_admin_company_path(admin_company) %></td>
        <td><%= link_to 'Destroy', admin_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_admin_company_path %>
