<%= form_for(@admin_recruiter) do |f| %>
  <% if @admin_recruiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_recruiter.errors.count, "error") %> prohibited this admin_recruiter from being saved:</h2>

      <ul>
      <% @admin_recruiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.number_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
