<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_email.user %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_email.email %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @user_email.is_default %>
</p>

<%= link_to 'Edit', edit_user_email_path(@user_email) %> |
<%= link_to 'Back', user_emails_path %>
